/* Fonts Start */
@font-face {
  font-family: WarowniaBd;
  src: url(../fonts/helveticaneue/WarowniaBd.ttf);
}
@font-face {
  font-family: PTSans-Bold;
  src: url(../fonts/pt_sans/PTSans-Bold.ttf);
}
@font-face {
  font-family: PTSans-Regular;
  src: url(../fonts/pt_sans/PTSans-Regular.ttf);
}
/* Fonts End */
/* Common CSS */
body {
  font-family: PTSans-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #010101;
}
/* Common CSS */
/* Header-Section Start */
header {
  background-color: #fcdb00;
}
.logo-text {
  margin-left: 10px;
}
.logo-text h4 {
  font-family: PTSans-Bold;
  font-size: 30px;
}
/* Menu */
.menu {
}
.menu ul {
}
.menu ul li {
}
.menu ul li a {
  font-family: PTSans-Bold;
  font-size: 22px;
  color: #010101 !important;
  padding: 0 50px !important;
}
.menu ul li:last-child a {
  padding-right: 0 !important;
}
/* Header-Section End */
